block document-info

doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		block title
			title= pagename
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width")
		meta(name="author" content="Siamak Mokhtari (twitter: @sia_mac)")

		meta(name="description" content="#{ description }")
		meta(name="keywords" content="#{ keywords }")

		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="google-site-verification" content="#{google_site_verification}")

		//- link(rel="alternate" type="application/rss+xml" title="#{ site_title } RSS" href="#{site_url}/notes/rss.xml")
		link(rel='stylesheet' href='hello/styles/notes.css')
		link(rel='stylesheet' href='hello/styles/prism-panda.css' inline)

		link(rel="index" href="#{site_url}/sitemap.xml")
		link(rel='shortcut icon' href='/dist/img/favicon.jpg')
		link(rel="apple-touch-icon" href='/dist/img/touch-icon-iphone-retina.jpg')
		link(rel="apple-touch-icon" sizes="76x76" href='/dist/img/touch-icon-ipad.jpg')
		link(rel="apple-touch-icon" sizes="120x120" href='/dist/img/touch-icon-iphone-retina.jpg')
		link(rel="apple-touch-icon" sizes="152x152" href='/dist/img/touch-icon-ipad-retina.jpg')

		meta(property='og:description' content=description)
		meta(property='og:type' content=site_type)

		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:description" content=description)
		meta(name="twitter:image" content="#{site_url}/dist/img/twitter-card.jpg")
		meta(name='twitter:site' content="@" + twitter_account)
		script(inline src="./hello/scripts/post.js")

		block header

	body
		include header.pug

		block container

		include footer.pug

		// Scripts
		block footer

		script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js')
		script.
			WebFont.load({
				google: {
					families: ['PT Serif']
				}
			});
		// /Scripts
